/* Navigatie - Menu & Footer */
ul a{
  color: white;
  text-decoration: none;
}
li{
display: inline-block;
height: 22px;
width: 100px;
padding: 12px;
text-align: center;
color: white;
border-left: 2px #0066ff;
border-right: 2px #0066ff;
background-color: #0099ff;
}
li:hover{
background-color:  #00ccff;
border-style: none;
}
h1{
margin-left: 200px;
}

footer{
background-color: #0099ff;
color: white;
}

header, footer, body{
padding: 12px;
}

/* Body */
body{
background-color: #whitesmoke;
background-position: center;
font-family: "Times New Roman", serif;
margin-top: 0px;
margin-right: 5px;
margin-bottom: 0px;
margin-left: 5px;
}

/* Tabellen */
table{
border-collapse: collapse;
}
td{
padding: 10px 5px;
}

/* Contactformulier */
input[type="text"], input[type="email"], textarea, button{
display: block;
margin: 15px 0px;
width: 400px;
box-sizing: border-box;
border-radius: 5px;
box-shadow: inset 2px 2px 5px grey;
}
textarea{
  height: 200px;
}
button:active{
background-color: #0099ff;
color: #000000;
border-radius: 8px;
}
